html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center;
  color: #f80202;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;

  

   overflow: hidden; /* prevent the whole page from scrolling */
}

.headline{

 font-weight: bold;
 text-align: center;
 font-size: x-large;

 margin: 7px;


}

.container {
  margin: auto;
  position: relative;

}

.paper{

  display: block;
  margin-left: auto;
  margin-right: auto;

  
  width: min(500px, 92vw);   /* keep it wide but within viewport */
  max-width: 500px;
  height: 90vh;               /* more horizontal rectangle */
  
  

  background: transparent;    /* remove white background/border */

  
 
}

.text{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 20px;
   
}


  



.play-button {
  display: inline;

  align-items: center;
  background-color: #fee6e3;
  border: transparent;
  border-radius: 8px;
  
  color: #fd2c2c;
  cursor: pointer;
  
  
  
  justify-content: center;
  
  max-width: 100%;
  padding: 55555;
  position: relative;
  text-align: center;
  
}




