body {
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
  
  background-color: rgb(235, 235, 251);

    margin-left: auto;
    margin-right: auto;
    width: 600px;

  
  padding: 0;
}



.header {
  display: inline-block;
  width: 100%;
  


}

.header-img {

  width: 100%;
  height: 400px;

  object-fit: cover;
  object-position: 0px 0px 200px 0px;
  position: static;
  opacity: 0.7;

}

.blog-info {
  position: absolute;
  top: 240px;
  left: 100px;

}

.blog-name {
  
  font-size: 60px;
  color: white;



}

.date {
  margin-left: 10px;
  display: inline-block;
  color: white;

}