html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, rgb(235, 235, 251), rgba(255, 255, 255, 0.268));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: 'Kaushan Script', 'Franklin Gothic Medium', 'Arial Narrow';
  height: 100%;
  background-color: transparent;
}

.site-name,
.navigation {
  padding-top: 8px;
  padding-right: 5px;
  padding-bottom: 8px;
  padding-left: 5px;

}



.site-name {
  display: inline-block;

}

.site-name:hover {
  text-shadow: 0px 0px 6px lightpink;
  cursor: pointer;

}

.navigation {
  display: inline-block;


}

.header {
  display: flex;
  background-color: #f9bddd;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  /*position: fixed;*/
  width: 100%;
  z-index: 2;
  top:0;
  margin: 0;

  
  
}



.image-header
{
  padding: 0;
  margin: 0;

  z-index: 3;

  width: 100%;
  height: 20%;

  object-fit: cover;
  position: static;

  display: block;
    
 
}

.heart-button {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border-color: transparent;
}

.heart-button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgb(244, 194, 230);
}

.firstline
{
    display: flex;
 
  justify-content: space-between;
  align-items: center;
  
  overflow: scroll;
  width: 100%;
  
  top:0;
  margin: 0;
}

.generalblock{
  display: inline-block;
  vertical-align: top;
  background-color: #f5a7d5;

  
  width: 150px;
  min-width: 150px;
  max-width: 150px;

  height: 160px;
  min-height: 160px;
  max-height: 160px;

    box-sizing: border-box;
  overflow: hidden;  
  

  border-radius: 8px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}


.generalblock-header
{
  color: rgb(255, 255, 255);
  padding: 3px;
  text-align: center;
}

.media-thumbnail
{ 
    max-width: 100%;
  height: auto;
  display: block;
}

.girl
{
  position: fixed;
  width:25%;
 
  
  margin: 0px;
  bottom: 0;
  right: 0;
  
}

.walking-cat{
  width: 32%;
  display: inline-block;
}
.daisiesfooter
{
  display: block;
    
  margin-left: auto;
  margin-right: auto;
  width: 100% ;
  
}
.popup-button
{
 width: 50px;
 margin-top: 15px;
 margin-left: 12px;
}

.media-name
{
   color:white;
   padding-left: 2px;
  
   font-family:'Courier New', Courier, monospace;
}

.media-name:hover
{
  text-shadow: 0 0 5px #c5a7f5;
}



.popup {
  visibility: hidden;
  /* other styles */
}

.popup.show {
  visibility: visible;
  /* maybe also add animation, position, etc. */
}


/* The side navigation menu */
.sidenav {
  position: fixed;
  top:170px;
  
   height: calc(100% - 66px); /* fills screen space below header */
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay ON top */
  
  /* Stay at the top 0 , 1 for bottom  */
  right: 0;
  background-color:  #f9bddd; 
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f4dfe6;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}